<!DOCTYPE html>
<html>
  <head>
    <title>Search Key</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Search Key</h1>
      <form method="post">
        <div class="form-group">
          <label for="key_value">Enter key:</label>
          <input type="text" class="form-control" id="stake_address" name="stake_address">
        </div>
        <button type="submit" class="btn btn-primary center-block">Submit</button>
      </form>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>